@model ProjectX.Web.Models.LocalPasswordModel

<div class="row-fluid">
    <div class="span8">
        @using (Html.BeginForm("Manage", "Account", FormMethod.Post,  new { id = "changePasswordForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.OldPassword)
                        @Html.PasswordFor(m => m.OldPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </li>
                </ol>
                <div class="controls">
                    <input type="submit" value="Change password" class="btn btn-gebo" />
                </div>
            </fieldset>
        }
    </div>
</div>